/* Template: Leno - Mobile App HTML Landing Page Template
   Author: Inovatik
   Created: Mar 2019
   Description: Master CSS file
*/

/*****************************************
Table Of Contents:

01. General Styles
02. Preloader
03. Navigation
04. Header
05. Features
06. Video
07. Details 1
08. Details 2
09. Details Lightboxes
10. Screenshots
11. Download
12. Statistics
13. Contact
14. Footer
15. Copyright
16. Back To Top Button
17. Extra Pages
18. Media Queries
******************************************/

/*****************************************
Colors:

- Text, navbar links - white #f1f1f8
- Buttons, bullets, icons - turquoise #00c9db
- Navbar - navy #4633af
- Backgrounds - dark denim #262431
- Backgrounds - denim #2f2c3d
******************************************/
 

/******************************/
/*     01. General Styles     */
/******************************/
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #f1f1f8; 
	font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
}

.p-large {
	color: #f1f1f8;
	font: 400 1rem/1.5rem "Open Sans", sans-serif;
}

.p-small {
	color: #f1f1f8;
	font: 400 0.75rem/1.25rem "Open Sans", sans-serif;
}

.p-heading {
	margin-bottom: 3.75rem;
	text-align: center;
}

.li-space-lg li {
	margin-bottom: 0.375rem;
}

.indent {
	padding-left: 1.25rem;
}

h1 {
	color: #f1f1f8;
	font: 700 2.5rem/2.875rem "Montserrat", sans-serif;
}

h2 {
	color: #f1f1f8;
	font: 700 2.25rem/2.75rem "Montserrat", sans-serif;
}

h3 {
	color: #f1f1f8;
	font: 700 1.75rem/2.125rem "Montserrat", sans-serif;
}

h4 {
	color: #f1f1f8;
	font: 700 1.375rem/1.75rem "Montserrat", sans-serif;
}

h5 {
	color: #f1f1f8;
	font: 700 1.125rem/1.625rem "Montserrat", sans-serif;
}

h6 {
	color: #f1f1f8;
	font: 700 1rem/1.5rem "Montserrat", sans-serif;
}

a {
	color: #f1f1f8;
	text-decoration: underline;
}

a:hover {
	color: #f1f1f8;
	text-decoration: underline;
}

a.turquoise {
	color: #00c9db;
}

a.white {
	color: #fff;
}

.testimonial-text {
	font: italic 400 1rem/1.5rem "Open Sans", sans-serif;
}

.testimonial-author {
	font: 700 1rem/1.5rem "Montserrat", sans-serif;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
	border: 0.125rem solid #00c9db;
	border-radius: 2rem;
	background-color: #00c9db;
	color: #fff;
	font: 700 0.75rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: #00c9db;
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid #00c9db;
	border-radius: 2rem;
	background-color: #00c9db;
	color: #fff;
	font: 700 0.75rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #00c9db;
	text-decoration: none;
}

.btn-solid-lg .fab {
	margin-right: 0.5rem;
	font-size: 1.25rem;
	line-height: 0;
	vertical-align: top;
}

.btn-solid-lg .fab.fa-google-play {
	font-size: 1rem;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
	border: 0.125rem solid #00c9db;
	border-radius: 2rem;
	background-color: transparent;
	color: #00c9db;
	font: 700 0.75rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

.btn-outline-reg:hover {
	background-color: #00c9db;
	color: #fff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid #00c9db;
	border-radius: 2rem;
	background-color: transparent;
	color: #00c9db;
	font: 700 0.75rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

.btn-outline-lg:hover {
	background-color: #00c9db;
	color: #fff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.625rem 0.875rem 1.625rem;
	border: 0.125rem solid #00c9db;
	border-radius: 2rem;
	background-color: transparent;
	color: #00c9db;
	font: 700 0.625rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

.btn-outline-sm:hover {
	background-color: #00c9db;
	color: #fff;
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.form-group.has-error.has-danger {
	margin-bottom: 0.625rem;
}

.form-group.has-error.has-danger .help-block.with-errors ul {
	margin-top: 0.375rem;
}

.label-control {
	position: absolute;
	top: 0.87rem;
	left: 1.375rem;
	color: #f1f1f8;
	opacity: 1;
	font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
	cursor: text;
	transition: all 0.2s ease;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	.label-control {
		top: 0.9375rem;
	}
}

.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
	top: 0.125rem;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.form-control-input,
.form-control-select {
	display: block; /* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1.0625rem;
	padding-bottom: 0.0625rem;
	padding-left: 1.3125rem;
	border: 1px solid #9791ae;
	border-radius: 0.25rem;
	background-color: #413d52;
	color: #f1f1f8;
	font: 400 0.875rem/1.875rem "Open Sans", sans-serif;
	transition: all 0.2s ease;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 3rem;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	.form-control-input {
		padding-top: 1.25rem;
		padding-bottom: 0.75rem;
		line-height: 1.75rem;
	}

	.form-control-select {
		padding-top: 0.875rem;
		padding-bottom: 0.75rem;
		height: 3.125rem;
		line-height: 2.125rem;
	}
}

select {
    /* you should keep these first rules in place to maintain cross-browser behavior */
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../images/down-arrow.png');
    background-position: 96% 50%;
    background-repeat: no-repeat;
    outline: none;
}

select::-ms-expand {
    display: none; /* removes the ugly default down arrow on select form field in IE11 */
}

.form-control-textarea {
	display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 8rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
	padding-top: 1.25rem;
	padding-left: 1.3125rem;
	border: 1px solid #9791ae;
	border-radius: 0.25rem;
	background-color: #413d52;
	color: #f1f1f8;
	font: 400 0.875rem/1.75rem "Open Sans", sans-serif;
	transition: all 0.2s ease;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
	border: 1px solid #f1f1f8;
	outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
	border: 1px solid #f1f1f8;
}

.checkbox {
	font: 400 0.75rem/1.25rem "Open Sans", sans-serif;
}

input[type='checkbox'] {
	vertical-align: -15%;
	margin-right: 0.375rem;
}

/* IE10+ hack to raise checkbox field position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	input[type='checkbox'] {
		vertical-align: -9%;
	}
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.125rem;
	border: 1px solid #00c9db;
	border-radius: 1.5rem;
	background-color: #00c9db;
	color: #fff;
	font: 700 0.75rem/1.75rem "Montserrat", sans-serif;
	cursor: pointer;
	transition: all 0.2s ease;
}

.form-control-submit-button:hover {
	background-color: transparent;
	color: #00c9db;
}

/* Form Success And Error Message Formatting */
#cmsgSubmit.h3.text-center.tada.animated,
#pmsgSubmit.h3.text-center.tada.animated,
#cmsgSubmit.h3.text-center,
#pmsgSubmit.h3.text-center {
	display: block;
	margin-bottom: 0;
	color: #f1f1f8;
	font: 400 1.125rem/1rem "Open Sans", sans-serif;
}

.help-block.with-errors .list-unstyled {
	color: #f1f1f8;
	font-size: 0.75rem;
	line-height: 1.125rem;
	text-align: left;
}

.help-block.with-errors ul {
	margin-bottom: 0;
}
/* end of form success and error message formatting */

/* Form Success And Error Message Animation - Animate.css */
@-webkit-keyframes tada {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}
	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes tada {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}
	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.tada {
	-webkit-animation-name: tada;
	animation-name: tada;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
/* end of form success and error message animation - Animate.css */

/* Fade-move Animation For Lightbox - Magnific Popup */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-out;
	-webkit-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	-ms-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	-ms-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	transform: translateY(0) perspective(37.5rem) rotateX(0); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	-webkit-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	-ms-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
}

/* dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
/* end of fade-move animation for lightbox - magnific popup */

/* Fade Animation For Image Slider - Magnific Popup */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation: fadeIn 0.6s;
	animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeOut {
	-webkit-animation: fadeOut 0.8s;
	animation: fadeOut 0.8s;
}
/* end of fade animation for image slider - magnific popup */



/*********************/
/*    04. Header     */
/*********************/
.header {
	background: linear-gradient(to bottom right, rgba(72, 72, 212, 0), rgba(241, 104, 104, 0)), url('../images/header-background.jpg') center center no-repeat;
	background-size: cover;
}

.header .header-content {
	padding-top: 8.5rem;
	padding-bottom: 7rem;
	text-align: center;
}

.header .text-container {
	margin-bottom: 3rem;
}

.header h1 {
	margin-bottom: 1rem;
}

.header #js-rotating {
	color: #40e0ee;
}

.header .p-large {
	margin-bottom: 2rem;
}

.header .btn-solid-lg {
	margin-right: 0.5rem;
	margin-bottom: 1.25rem;
}


/****************************/
/*     05. Testimonials     */
/****************************/
.slider-1 {
	padding-top: 6.875rem;
	padding-bottom: 6.375rem;
	background-color: #262431;
}

.slider-1 .slider-container {
	position: relative;
}

.slider-1 .swiper-container {
	position: static;
	width: 90%;
	text-align: center;
}

.slider-1 .swiper-button-prev:focus,
.slider-1 .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.slider-1 .swiper-button-prev {
	left: -0.5rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23f1f1f8'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}

.slider-1 .swiper-button-next {
	right: -0.5rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23f1f1f8'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}

.slider-1 .card {
	position: relative;
	border: none;
	background-color: transparent;
}

.slider-1 .card-image {
	width: 6rem;
	height: 6rem;
	margin-right: auto;
	margin-bottom: 0.25rem;
	margin-left: auto;
	border-radius: 50%;
}

.slider-1 .card-body {
	padding-bottom: 0;
}

.slider-1 .testimonial-author {
	margin-bottom: 0;
}


/************************/
/*     05. Features     */
/************************/
.tabs {
	padding-top: 6.5rem;
	padding-bottom: 4.25rem;
	background-color: #2f2c3d;
}

.tabs h2 {
	margin-bottom: 1.125rem;
	text-align: center;
}

.tabs .p-heading {
	margin-bottom: 3.125rem;
}

.tabs .nav-tabs {
	margin-right: auto;
	margin-bottom: 2.5rem;
	margin-left: auto;
	justify-content: center;
	border-bottom: none;
}

.tabs .nav-link {
	margin-bottom: 1rem;
	padding: 0.5rem 1.375rem 0.25rem 1.375rem;
	border: none;
	border-bottom: 0.1875rem solid #f1f1f8;
	border-radius: 0;
	color: #f1f1f8;
	font: 700 1rem/1.75rem "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

.tabs .nav-link.active,
.tabs .nav-link:hover {
	border-bottom: 0.1875rem solid #00c9db;
	background-color: transparent;
	color: #00c9db;
}

.tabs .nav-link .fas {
	margin-right: 0.375rem;
	font-size: 1rem;
}

.tabs .tab-content {
	width: 100%; /* for proper display in IE11 */
}

.tabs .card {
	border: none;
	background: transparent;
}

.tabs .card-body {
	padding: 1rem 0 1.25rem 0;
}

.tabs .card-title {
	margin-bottom: 0.5rem;
}

.tabs .card .card-icon {
	display: inline-block;
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	background-color: #00c9db;
	text-align: center;
	vertical-align: top;
}

.tabs .card .card-icon .fas,
.tabs .card .card-icon .far {
	color: #fff;
	font-size: 1.75rem;
	line-height: 3.5rem;
}

.tabs #tab-1 .card.left-pane .text-wrapper {
	display: inline-block;
	width: 75%;
}

.tabs #tab-1 .card.left-pane .card-icon {
	float: left;
	margin-right: 1rem;
}

.tabs #tab-1 img {
	display: block;
	margin: 2rem auto 3rem auto;
}

.tabs #tab-1 .card.right-pane .text-wrapper {
	display: inline-block;
	width: 75%;
}

.tabs #tab-1 .card.right-pane .card-icon {
	margin-right: 1rem;
}

/* Tab 4  --------------------------------------  */
.tabs #tab-4 .card.left-pane .text-wrapper {
	display: inline-block;
	width: 75%;
}

.tabs #tab-4 .card.left-pane .card-icon {
	float: left;
	margin-right: 1rem;
}

.tabs #tab-4 img {
	display: block;
	margin: 2rem auto 3rem auto;
}

.tabs #tab-4 .card.right-pane .text-wrapper {
	display: inline-block;
	width: 75%;
}

.tabs #tab-4 .card.right-pane .card-icon {
	margin-right: 1rem;
}
/* End of Tab 4  --------------------------------------  */


.tabs #tab-2 img {
	display: block;
	margin: 0 auto 2rem auto;
}

.tabs #tab-2 .text-area {
	margin-top: 1.5rem;
}

.tabs #tab-2 h3 {
	margin-bottom: 0.75rem;
}

.tabs #tab-2 .icon-cards-area {
	margin-top: 2.5rem;
}

.tabs #tab-2 .icon-cards-area .card {
	width: 100%; /* for proper display in IE11 */
}

/* tab 5------------ */

.tabs #tab-5 img {
	display: block;
	margin: 0 auto 2rem auto;
}

.tabs #tab-5 .text-area {
	margin-top: 1.5rem;
}

.tabs #tab-5 h3 {
	margin-bottom: 0.75rem;
}

.tabs #tab-5 .icon-cards-area {
	margin-top: 2.5rem;
}

.tabs #tab-5 .icon-cards-area .card {
	width: 100%; /* for proper display in IE11 */
}
/*---end of 5 -------*/


.tabs #tab-3 .icon-cards-area .card {
	width: 100%; /* for proper display in IE11 */
}

.tabs #tab-3 .text-area {
	margin-top: 0.75rem;
	margin-bottom: 4rem;
}

.tabs #tab-3 h3 {
	margin-bottom: 0.75rem;
}

.tabs #tab-3 img {
	margin: 0 auto 3rem auto;
}


/*--tab 6------*/
.tabs #tab-6 .icon-cards-area .card {
	width: 100%; /* for proper display in IE11 */
}

.tabs #tab-6 .text-area {
	margin-top: 0.75rem;
	margin-bottom: 4rem;
}

.tabs #tab-6 h3 {
	margin-bottom: 0.75rem;
}

.tabs #tab-6 img {
	margin: 0 auto 3rem auto;
}
/*------end of tab 6****/

